@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@keyframes searchMoveUp{
    from{
        top:50%
    }
    to{
        top:20%
    }
}

*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.searchContent{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
}
.searchbox{
    position: relative;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.6);
    padding:15px;
    width:85%;
    border-radius: 5px;;
    display:flex;
    justify-content: space-between;

}

.searchbox .input{
    width:85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}


.searchText{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.searchbtn{
    background: #ffec00;
    width:10%;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.searchbtn .fas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
.searchListDiv{
    
    z-index: 3;
    position: relative;
    margin-top:20px;
    left:50%;
    width:85%;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.6);
    height: fit-content;
    max-height: 110px;
    overflow: auto; 
}
.searchOpt{
    
    color: white;
    border-bottom: 2px solid rgb(65, 64, 64);
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-weight: bold;
}

.aSearchTag{
    width:fit-content;
    margin: 3px;
    padding:10px;
    color:white;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    display:flex;
}
/* .tagCross{
    width:10%;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.crossFas{
    padding:10px;
} */


.dashboard{
    /* position: absolute;
    bottom: 20%; */
    height:60%;
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* background-color:red; */
}